body{
   
    font-size: 15px;
    line-height:1.5 ;
    padding: 0px;
    margin: 0xpx;
    background-color: #f4f4f4;
}
/*global*/
.countainer {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
/*header*/
header{
    background-color: rgba(117, 110, 106, 0.87);
    color: rgb(243, 237, 237);
    padding-top: 30px;
    min-height:70px ;
    border-bottom: thistle 3px solid;
}
header a{
    color:  rgb(243, 237, 237);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}
header ul{
    margin: 0;
    padding: 0;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
} 
#brending, h1{
    float: left;
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .identitas, header .nama a{
    color: rgb(53, 31, 53);
    font-weight: bold;
}
header a:hover{
color: rgb(14, 13, 83);
font-weight: bold;
}

/*showcase*/
#showcase{
    min-height: 400px;
    background:url('../img/bacgroun.png') no-repeat 0 -400px;
    text-align: center;
    color: rgb(15, 14, 15);
}
#showcase h1{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;
}
#showcase  p{
    font-size: 20px;
    float: left;
    
}
#showcase2{
    padding:15px ;
    color:rgb(20, 17, 20);
    background:rgba(117, 110, 106, 0.87) ;
}
#showcase2 h1{
    float: left;
}
#showcase2 form{
float: right;
margin-top: 15px;
}
#showcase2 input [type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}
.button-i{
height: 28px;
background: saddlebrown;
border: 0px;
padding-left: 20px;
padding-right: 20px;
color:rgb(20, 17, 20);
}
/*boxes*/
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}
#boxes .box img{
    width: 90px;
    height: 57px;
}  
footer{
    padding: 20px;
    margin-top:20px ;
    color: black;
    background-color:  rgba(117, 110, 106, 0.87);
    text-align: center;
}
/*about*/
.isi{

    text-align: center;
}
.dark{
    padding: 15px;
    background-color: rgba(56, 17, 17, 0.774);
    margin-top: 10px;
    margin-bottom: 10px;
}

.kontak{
  
font-size: 20px;
    text-align: center;
   padding: 30px 0 0 0;
    
}
@media(max-widht: 762px){
header , header nav,header nav li,#showcase2,#showcase2 form,#boxes .box, article #main-col{
float: none;
text-align:center;
width: 100%;
}

header{
    padding-bottom: 20px;
}
#showcase h1{
    margin-top: 40px;
}
#showcase2 button {
    display: block;
    width: 100%;
}
#showcase2 form input[type='email']{
    width: 100%;
    margin-bottom: 5px;
}

}
:root{
    --buttonColor:black;
    --borderColor:rgb(190, 134, 167);
    --mainColor:rgb(104, 104, 37);
    --secondaryColor:rgb(71, 39, 39);
}

#contact-form{
    display: block; 
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}

.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    font-size: 14px;
}
    

#submid-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--secondaryColor)
  
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[style=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

